* {
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  justify-content: space-between;
  align-items: baseline;
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  border-right: 1px solid black;
}

nav li:last-of-type {
  border-right: none;
}

footer {
  position: absolute;
  bottom: 0;
}

.content {
width: 80%;
  position: absolute;
  top: 0;
  transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-section ul {
  list-style: none;
  width: 100%;
  padding: 0;
  border: 1px solid black;
}

#main-section li {
  justify-content: space-between;
  align-items: baseline;
  padding: .2rem;
}

#main-section li:nth-child(even) {
  background-color: #dddddd;
}